
/*---------------*/
/*--all__nonsense*/
/*---------------*/


body{
    margin: 0;
    padding: 0;
    font-family: Roboto;

}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*----------*/
/*--header--*/
/*----------*/

.header__back{
    width: 100%;
    height: 42px;
    position: absolute;
    background-color: #4a76a8;
    box-sizing: border-box;

}

.page__header{
    position: relative;
    height: 42px;
/*    display: inline-block;*/
    display: flex;

}


.header__logo{
    width: 165px;
}

.header__link{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 10px;
}

.best__at__home{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.header__search{
    width: 230px;
    display: flex;
}

.header__input--serch{
    width: 197px;
    height: 16px;
    border: none;
    border-radius: 42px;
    
    background-color: #224b7a;
    margin: 7px 0;
    background-size: 15px;
    background-image: url(./img/logo/icon/search.svg);
    background-repeat: no-repeat;
    padding: 6px 6px 6px 19px;
    background-position: left center;
    border-left: 8px solid transparent;
    
}

.header__input--serch:focus{
    background-color: white;
}



.header__input{
    width: 240px;
    margin-right: 10px;
}



.header__input--serch::placeholder{
    color: #4a76a8;
    padding-left: 5px;

}

.header__navigation{
    display: flex;
}

.navigation__bell{
    
    background-image: url(./img/logo/icon/bell.svg)
}

.navigation__music{
    
   
    background-image: url(./img/logo/icon/audio.svg);
}

.navigation__video{
    
    background-image: url(./img/logo/icon/video.png);
}



.navigation__icon{
    width: 20px;
    height: 20px;
    margin: 11px;
}



.header__navigation:hover{
    background-color: #224b7a;
    
}


.header__user{
    width: 125px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    
}



.header__user:hover{
    background-color: #224b7a;
}




.top__user__avatar{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin: 7px 0;
}

.user__name{
    display: flex;
    align-items: center;
    color: white;
}

/*--------*/
/*--main--*/
/*--------*/

.main{
    display: flex;
}

.main__menu{
    
    
    
    width: 165px;
    padding-top: 10px;
    
    
}

.main__menu__home{
    color: #4a76a8; 
  
}

.main__menu__item{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;

}

.main__menu__link{
    width: 150px;
    height: 28px;
}

.main__menu__link:hover{
    background-color: #b4d6d9;
}

.menu__home{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    background-size: 25px;
    
    
}

.icon__home{
    background-image: url(./img/logo/icon/home.png);
}

.icon__news{
    background-image: url(./img/logo/icon/news.png);
}

.icon__messages{
    
    background-image: url(./img/logo/icon/message.png);
}

.icon__freinds{
    background-image: url(./img/logo/icon/freinds.png);
}

.icon__users{
    background-image: url(./img/logo/icon/users.png);
}

.icon__foto{
    background-image: url(./img/logo/icon/foto.png);
}

.icon__music{
    background-image: url(./img/logo/icon/audio.svg);
}

.icon__video{
    background-image: url(./img/logo/icon/video.png);
}

.icon__games{
    background-image: url(./img/logo/icon/video.png);
}

.main__menu__home{
    display: inline-block;
}


ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__content{
   background-color: aqua;
    height: 600px;
    
     width: 550px;
    padding-top: 10px;
    
}

.content__menu{
    background-color: royalblue;
    height: 600px;
    
    
    width: 245px;
    padding-top: 10px;
}